/* Center the form on the page */
.change-password-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  /* Form container styling */
  .form-container {
    background: #2e2e2e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Input field styling */
  ion-item {
    margin-bottom: 20px;
    --background: #f5f5f571;
    --border-radius: 8px;
    --padding-start: 10px;
    --padding-end: 10px;
  }
  
  /* Input icon styling */
  .input-icon {
    margin-right: 10px;
    color: #3880ff; /* Ionic primary color */
  }
  
  /* Button styling */
  .change-password-button {
    margin-top: 20px;
    --background: #3880ff; /* Ionic primary color */
    --background-activated: #3171e0; /* Darker shade for active state */
    --border-radius: 8px;
    font-weight: bold;
  }
  
  /* Alert styling */
  ion-alert {
    --background: #ffffff;
    --color: #333333;
    --border-radius: 10px;
  }